body {
    background-color: #131313;
    margin: 0;
    color: white;
}

.main {
    text-align: center;
}

.primary {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
}

.poem {
	margin-left: 30px;
	font-size: 20px;
}
